<mat-toolbar color="primary">
  <h1 class="mat-display-1">RSP Inventory</h1>
</mat-toolbar>

<form class="date-block" [formGroup]="searchForm">
  <div fxLayout="row" fxLayoutGap="12px"  style="padding:12px">
    <mat-form-field>
      <input
        minlength="1"
        maxlength="24"
        formControlName="epc"
        matInput (keyup)="applyFilter($event.target.value)"
        placeholder="Search: 30143639F8419145BEEF0000">
      <mat-error *ngIf="searchForm.get('epc').hasError('pattern')">EPC must be alphanumeric. No special characters</mat-error>
      <mat-error *ngIf="searchForm.get('epc').hasError('maxLength')">Cannot be more than 24 characters.</mat-error>
    </mat-form-field>
  </div>
</form>


<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
      <mat-header-cell *matHeaderCellDef fxFlex="400px"> {{columnAlias[i]}} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="400px"> {{element[column]}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail" >
      <mat-cell *matCellDef="let element">
        <div  fxFlex=100 class="example-element-detail" style="overflow: hidden"
          [@detailExpand]="element.expanded ? 'element.expanded' : 'collapsed' ">
          <div fxLayout="column" fxFlex=50 >
            <mat-card fxFlex=100>
              <mat-card-title>Sensors</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
              <mat-card-content>
                <div fxFlexFill fxLayoutAlign="center center" *ngIf="loading">
                  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
                <mat-list fxFlex=100 [fxShow]="!loading">
                  <ng-container *ngFor="let bsi of basicSensorInfo; let x=index">
                    <mat-list-item > {{bsi.sensor}} </mat-list-item>
                    <mat-list-item *ngFor="let alias of bsi.aliases;let i=index"
                      [ngClass]="{'active': isCurrentLocation(alias) === true}">
                      <mat-icon matListIcon *ngIf="isCurrentLocation(alias) === true">check_circle_outline</mat-icon>
                      <mat-icon matListIcon *ngIf="isCurrentLocation(alias) === false">check_circle</mat-icon>
                      <div fxLayout="row" fxFlexFill fxLayoutAlign="right center">
                        <div fxFlex=100>{{alias}}</div>
                        <div fxFlex=30 fxFlexAlign="end end" *ngIf="i==0 && tempRead != ''"
                          style="font-weight: bold;text-align: right;margin-right:30px;">
                          <div fxLayout="row" fxLayoutAlign="center">
                            <img matListAvatar src="../assets/icons8-temperature-48.png" alt="">
                            {{tempRead}}°F
                          </div>
                        </div>
                      </div>
                    </mat-list-item>
                  </ng-container>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" fxFlex=50>
            <mat-card>
              <mat-card-title>Detailed Tag Info</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
              <mat-card-content>
                <div fxLayoutAlign="center center" fxFlexFill *ngIf="loading">
                  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
                <div [fxShow]="!loading" fxLayout="column" fxLayoutGap="12px">
                  <ngx-json-viewer *ngIf="tag" [json]="tag" [expanded]="expanded" (click)="clickedInfo()">
                  </ngx-json-viewer>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="element.expanded"
      (click)="expandedElement = expandedElement === element ? null : element; getTagInfo(element); expandedOrCollapsed(element, expandedElement)">
    </mat-row>
    <mat-row [fxShow]="showRow" *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
