<h1 class="mat-h1">RFID Inventory</h1>
<div fxLayout="row" fxLayoutGap="15px">
    <mat-card>
        <mat-card-title>Inventory Count</mat-card-title>
    </mat-card>
    <mat-card [ngStyle]="{'background-color':'#0071C5', 'color': 'white'}">
        <mat-card-title>{{tagCount}}</mat-card-title>        
    </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutGap="12px">
    <mat-card  fxFlex="16" [style.overflow]="'auto'">
        <mat-card-title>Tags</mat-card-title>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="12px">
              <div *ngFor="let tag of inventoryGetTagsResponse; let i = index">
                <button mat-raised-button color="#0071C5" (click)="getTagInfo(tag)" [style.background-color]="'#0071C5'" [style.color]="'white'">
                  {{tag.epc}}
                </button>
            </div>
            </div>
          <br>
        </mat-card-content>
      </mat-card>
  <div fxLayout="column" fxLayoutGap="20px" fxFlex="15">
    <mat-card  [style.overflow]="'auto'" [style.padding.px]="5" >
      <mat-card-title>Sensors</mat-card-title>
      <mat-card-content>
          <mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
          <div *ngFor="let sensorId of sensorIds;let i=index" fxLayout="column" fxLayoutGap="12px">
            <h3 *ngIf="!loading" >{{sensorId}}</h3>
            <button *ngIf="!loading" fxFlex="25" style="height:125px;width:125px" mat-fab [ngStyle]="{'background-color': isCurrentLocation(sensorId) ? '#0071C5' : '#b1babf', 'font-size': '48px'}">{{checkmark}}</button>
            <img *ngIf="i==0 && tempRead != ''" src="../assets/icons8-temperature-48.png" style="height:48px;width:48px" />
            <span *ngIf="i==0 && tempRead != ''" style="font-weight: bold">{{tempRead}}°F</span>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <div fxLayout="column" fxLayoutGap="20px" fxFlex="45">
      <mat-card  [style.overflow]="'auto'" [style.padding.px]="5" >
        <mat-card-title>Info</mat-card-title>
        <mat-card-content>
            <mat-progress-spinner mode="indeterminate" *ngIf="loadingTags"></mat-progress-spinner>
            <div fxLayout="column" fxLayoutGap="12px">
                <ngx-json-viewer *ngIf="tag" [json]="tag" [expanded]="expanded" (click)="clickedInfo()"></ngx-json-viewer>
            </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
