table {
    width: 100%;
  }
  
  example-detail-row {
    height: 0;
  }
  
  example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .element-row:not(.expanded) {
  cursor: pointer;
}
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .mat-form-field {
    font-size: 16px;
    padding: 16px;
    width: 300px;
  }

  .mat-header-cell {
    font-size: 18px;
  }

  .expand-card-info {
    width: 500px;
  } 
  
  .expand-card-sensor {
    width: 450px;
  }

  .vision-statement {
    font-size: 8px;
  }
  
