.bold {
  font-weight: bold;
}
.active{
  background-color:lightgray;
}

mat-card {
  margin: 6px;
  padding: 8px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: rgba(0, 0, 0, 0.04);
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  height: 150px;
  width: auto;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-card-actions {
  margin-top: -8px;
}
