<mat-toolbar>
  <div fxLayout="row wrap" fxFlex="100">
    <div fxFlex="50" fxLayoutAlign="start center">
      <img src="../assets/logo_ef.png" height="30" />
    </div>
    <div fxFlex="50" fxLayoutAlign="end center">
      Welcome!
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/rfid-inventory">
          <button mat-icon-button>
            <mat-icon>dashboard</mat-icon>
          </button>
          RFID Inventory
        </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/rfid-controller">
          <button mat-icon-button>
            <mat-icon>autorenew</mat-icon>
          </button>
          RFID Controller
        </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/temperature">
          <button mat-icon-button>
            <mat-icon>opacity</mat-icon>
          </button>
          Temperature
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="padding:12px">


    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
